:root {
  --background-body-color: hsl(212, 45%, 89%);
  --background-card-color: hsl(0, 0%, 100%);
  --title-color: hsl(218, 44%, 22%);
  --description-color: hsl(220, 15%, 55%);

  --font-size: 0.9375rem; /* 15px */
  --font-family: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-body-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

img {
  display: block;
  max-width: 100%;
  border-radius: .65rem;
}

.card {
  background-color: var(--background-card-color);
  max-width: 20rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 2.6rem;
  border-radius: 1rem;
}

.card__title {
  font-size: 1.35rem;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 1rem;
}

.card__img {
  margin-bottom: 1.5rem;
}

.card__description {
  font-size: var(--font-size);
  text-align: center;
  color: var(--description-color);
}

.card__title, .card__description {
  padding: 0 1rem;
}
